@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Varela+Round&display=swap');
body{
    background-color:antiquewhite;

}
*{
    margin:0;
    padding: 0;
}
nav{
    font-family:'Ubantu',sans-serif;
   
}
nav ul{
    display:flex;  /*horizontal alignment*/
    list-style-type: none;
    height: 60px;
    background-color: black;
    color:white;
    align-items: center;

}
nav ul li{
    padding:0 20px;
}
.brand img{
    width: 44px;
    padding : 0 10px;
    
}
.brand{
    display:flex;
    align-items: center;
    font-weight:bolder;
    font-size: 1.3rem;
}
.container{
    min-height:72vh;    /* 75% of viewport height */
    background-color:black;
    color:white;
    font-family: 'Varela Round', sans-serif;
    display:flex;
    margin:23px auto;
    width:70%;
    border-radius: 10px;
    padding :34px;
    background-image: url("bg.jpg");
    background-size: cover;
}
.songItemContainer{
    margin-top:74px;
}
.songItem{
    height:50px;
    display:flex;
    align-items: center;
    background-color:white;
    color:black;
    margin:12px 0;
    justify-content:space-between;
    align-items: center;
    border-radius:34px;

}
.songItem img{
    width:43px;
    margin: 0 23px;
    border-radius:34px;
}
.timestamp{
    margin: 0 23px;
}
.timestamp i{
    cursor:pointer;
}
.bottom{
    position:sticky;
    height: 130px;
    background-color:black;
    color:white;
    display:flex;
    align-items:center;
    justify-content:center;
    bottom:0;
    flex-direction:column;  
    
}
.icons{
    margin-top:14px;
}
.icons i{
    cursor:pointer;
}
#myProgressBar{
    width: 80vw;
    cursor:pointer;
}
.songInfo{
    position:absolute;
    font-family: 'Varela Round', sans-serif;
    left:10vw;
}
.songInfo img{
    opacity:0;     /*java script  se 1 kr denge */
    transition: opacity 0.4s ease-in;
}